.box {
  background-color: red;
  margin-bottom: 10px;
}

.start-anim {
  animation: appear 3s linear;
}
@keyframes appear {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.hide {
  display: none;
}
