.spinner {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid blue;
  border-top: red 15px solid;
  animation: rotate 1.5s linear infinite;
  z-index: 10;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
